@import './style/footer.scss';
@import './style/navbar.scss';
@import './style/charms.scss';
@import './style/catalog.scss';
@import './style/card.scss';
@import './style/productDetail.scss';
@import './style/LoginRegister.scss';
@import './style/shoppingCart.scss';

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}